*{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: lightgray;
    background-image: url(https://i.pinimg.com/736x/dc/9e/18/dc9e185f460d5308a35f72b90db16613.jpg);
    background-size: cover;
}

.title {
    font-size: 45px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.title:hover{
    color: darkred;
    font-size: 50px;
    transition-duration: 0.1s;
}

.b:hover{
    color: darkred;
    font-size: 40px;
    transition-duration: 0.1s;
}

p {
    color: black;
    text-align: justify;
    font-size: 35px;
}

.arrow {
    color: beige;
    font-size: 38px;
    margin-right: 10px;
    flex-shrink: 0;
}

.border {
    border: solid;
    padding: 10px;
    margin: 20px;
    background-color: rgba(48, 47, 47, 0.5); /* Border color */
}

.tebal {
    color: beige;
    text-align: center;
}